<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>TodoList</title>
		<script type="text/javascript" src="vue.js"></script>
		<style>

		</style>
	</head>

	<body>
		<!--插槽方便的向子组件传递dom元素-->
		<div id="app">
			<!--v-on v-for 模板指令-->
			<input type="text" v-model="inputValue" />
			<!--控制台打印 app.$data.inputValue-->
			<button v-on:click="handleBtnClick">提交</button>
			<ul>
				<!--<li v-for="item in list">{{item}}</li>-->
				<todo-item v-bind:content="item" v-for="item in list">
				</todo-item>
			</ul>
		</div>
		<script>
			//创建全局组件
			//全局组件的使用 父组件传值（通过v-bind:content="item"），子组件接收 （props:['content'],）
			//			Vue.component("TodoItem",{
			//				props:['content'],
			//				template:"<li>{{content}}</li>"
			//			})
			//局部组件
			//使用时需要注册
			var TodoItem = {
				props: ['content'],
				template: "<li>{{content}}</li>"
			}
			var app = new Vue({
				//el 实例负责管理的一个区域
				el: '#app',
				components: {
					TodoItem:TodoItem
				},
				data: {
					list: [],
					inputValue: ''
				},
				methods: {
					handleBtnClick: function() {
						this.list.push(this.inputValue);
						this.inputValue = "";
					}
				}
			})
		</script>
	</body>

</html>

<!--
	父组件给子组件传值的方式：
	通过v-bind 绑定变量的方式
	子组件需要通过 props属性接收值
	
	子组件给父组件传值的方式
	通过$.emit()触发事件，父组件监听事件
	
-->