<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue中多个元素或组件的过渡</title>
		<script type="text/javascript" src="vue.js" ></script>
		<style>
			.v-enter,.v-leave-to {
				opacity: 0;
			}
			.v-enter-active,.v-leave-active {
				transition: opacity 1s;
			}
		</style>
	</head>
	<body>
		<div id="root">
		<!--name="fade"-->
		<!--mode="out-in"vue的mode指令-->
		<!--
			<component :is="type"></component>动态组件定义
		-->
			<transition mode="out-in">
				<component :is="type"></component>
				
				
				<!--
				<child v-if="show"></child>
				<child-one v-else></child-one>
				-->
			<!--
				key="hello" 阻止vue复用
				<div v-if="show" key="hello">hello world</div>
				<div v-else key="bye">Bye World</div>
			-->
			</transition>
			<button @click="handleClick">切换</button>
		</div>
		<script>
			
			Vue.component('child',{
				template: '<div>child</div>'
			})
			Vue.component('child-one',{
				template: '<div>child-one</div>'
			})
			
			var vm = new Vue({
				el:"#root",
				data: {
					type: 'child'
				},
				methods: {
					handleClick:function(){
//						this.show = !this.show;
						this.type = this.type === 'child' ? 'child-one' :'child';
					}
				
				}
			});
		</script>
	</body>
</html>
